@{
    ViewData["Title"] = "Панель администратора";
}

<script src="~/js/offices.js"></script>

<main style='padding: 10px'>
    <a onclick='showOffices()' class='btn btn-secondary'>Вывести все записи</a>
    <a asp-controller='Offices' asp-action='AddOffice' class='btn btn-secondary'>Перейти к добавлению записи</a>
    <table>
        <thead>
        <tr>
            <th>Город</th>
            <th>Улица</th>
            <th>Строение</th>
        </tr>
        </thead>
        <tbody id='officetbody'>
        </tbody>
    </table>
</main>