@{
    ViewData["Title"] = "Как выбрать автомобиль";
}

<script src="~/js/advices.js"></script>
<script>
    window.onscroll = function() {scrollFunction()};
</script>

<main id="main">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#engine-choice">Выбор двигателя</a>
        <a href="#transmission-choice">Выбор КПП</a>
        <a href="#drive-choice">Выбор привода</a>
        <a href="#body-choice">Выбор кузова</a>
    </div>
    <div>
    <h1>Как выбрать автомобиль</h1>
    <h2 id="engine-choice">Выбор двигателя</h2>
    <div class="text-block">
        <p>
            Как правило, перед покупкой нового или подержанного транспортного средства
            будущий владелец задается вопросом, с каким двигателем лучше выбрать машину.
            При этом потенциальный обладатель должен в обязательном порядке учитывать
            индивидуальные особенности того или иного типа ДВС.
        </p>
        <p>
            При этом силовые установки отличаются по рабочему объему, мощности, количеству цилиндров,
            компоновке и т.д. Также иногда встречаются роторные двигатели и т.п. Вполне очевидно,
            что при таком многообразии нужно знать, как выбрать двигатель автомобиля,
            а также какой двигатель лучше выбрать для машины.
        </p>
    </div>

    <h3>Бензиновый двигатель</h3>
    <div class="image-box">
        <img src="~/img/benzinovyj_dvigatel.jpg" alt="Бензиновый двигатель"/>
    </div>
    <div class="text-block">
        <p>
            Бензиновый двигатель в качестве топлива использует бензин. Для того чтобы воспламенить горючее в цилиндрах,
            агрегаты данного типа имеют систему зажигания, результатом работы которой является электрическая искра на
            свечах зажигания.
        </p>
        <p>
            Бензиновый агрегат более распространен, его дешевле и проще обслуживать. Однако такие двигатели имеют
            меньший ресурс,
            расходуют больше бензина, система зажигания может давать сбои.
        </p>
    </div>
    <h3>Дизельный двигатель</h3>
    <div class="image-box">
        <img src="~/img/diesel.jpg" alt="Дизельный двигатель"/>
    </div>
    <div class="text-block">
        <p>
            Дизельные моторы появились на легковых авто сравнительно недавно, при этом отличаются высоким КПД, расходуют
            небольшое количество топлива.
            При этом слабым местом таких ДВС является чувствительная топливная система, работоспособность которой сильно
            зависит от качества солярки.
            Еще следует учитывать, что дизельный двигатель более дорогой в ремонте и обслуживании по сравнению с
            бензиновыми аналогами.
        </p>
        <p>
            Если же на первом плене стоит топливная экономичность и «тяговитость», тогда оптимальным решением будет
            дизельный мотор.
            Что касается установки газового оборудования, переделка в газодизель также возможна, однако для гражданских
            легковых авто попросту
            нецелесообразна с учетом высокой стоимости и сложности таких доработок.
        </p>
    </div>
    <h2 id="transmission-choice">Выбор КПП</h2>
    <div class="text-block">
        <p>
            Одной из актуальных проблем покупки транспортного средства справедливо считается подбор коробки передач.
            Ранее особого выбора у потребителей не было, поскольку все моторы работали в паре только с механическими
            КПП.
            Затем появились первые автоматы, но устанавливались на дорогие машины. Сами коробки автомат не обладали
            высоким уровнем надёжности, часто выходили из строя,
            а их ремонт или замена обходились в целое состояние. Но нынешняя ситуация современно иная. Качество
            значительно улучшилось,
            упрекнуть те же автоматы в плохой надёжности или неэкономичности нельзя. В итоге можно выделить несколько
            основных видов КПП,
            между которыми и приходится выбирать покупателям.
        </p>
    </div>
    <h3>Механическая КПП (МКПП)</h3>
    <div class="image-box">
        <img src="~/img/mkpp.jpg" alt="Рычаг МКПП"/>
    </div>
    <div class="text-block">
        <p>
            МКПП состоит из набора шестерён. Переключение передачи состоит в их зацеплении в различном сочетании.
            Ступени переключаются вручную с помощью рычага переключения передачи и одновременным выжимом педали
            сцепления.
            По количеству ступеней механика бывает четырёхступенчатой, пятиступенчатой (самый популярный вариант),
            шестиступенчатой и более.
            По количеству валов МКПП бывает двухвальной (характерна для легковых автомобилей с передним приводом) и
            трёхвальной
            (устанавливается на грузовые и легковые автомобили как с передним, так и с задним приводом).
        </p>
        <p>
            Как и любая другая, механическая коробка передач имеет свои плюсы и минусы.
        </p>
        <p>Плюсы</p>
        <ul>
            <li>Простота конструкции</li>
            <li>Небольшой расход топлива и высокий КПД</li>
            <li>Недорогая в обслуживании</li>
            <li>Высокая динамика</li>
        </ul>
        <p>
            Из минусов следует отметить неудобство в управлении, особенно в условиях большого города.
        </p>
        <p>
            Данный вид КПП идеально подойдёт тем, кто предпочитает свободу стиля вождения. Водитель сам решает,
            когда и с какой скоростью ехать на определённой передаче. Механика отлично показывает себя в условиях
            бездорожья
            и позволяет уверенно чувствовать себя на скользкой дороге: появляется возможность тормозить скоростью,
            включая
            пониженную передачу во время движения. В итоге скорость снижается при минимальном риске потери сцепления с
            дорогой.
            Также механика подойдёт для извилистой трассы, поскольку автомат не сможет обеспечить движение на скорости
            по извилистым дорогам.
        </p>
    </div>
    <h3>Автоматическая КПП</h3>
    <div class="image-box">
        <img src="~/img/akpp.jpg" alt="Рычаг АКПП"/>
    </div>
    <div class="text-block">
        <p>
            Принцип работы АКПП состоит в преобразовании и передаче крутящего момента от двигателя к колёсам посредством
            гидротрансформатора.
            Переключаются ступени за счёт давления трансмиссионной жидкости, которое создаёт гидронасос. Используется
            такая коробка передач в
            недорогих автомобилях и является самой распространённой в мире.
        </p>
        <p>Плюсы</p>
        <ul>
            <li>Простота и комфорт при управлении автомобилем</li>
            <li>Плавность хода во время переключения передач</li>
            <li>Способность менять передачу на полной мощности двигателя</li>
            <li>Защита двигателя и ходовой части от поломок при неправильном переключении передач</li>
            <li>Нет откатывания при трогании с места на ровной поверхности</li>
        </ul>
        <p>Минусы</p>
        <ul>
            <li>Высокая цена и дороговизна в обслуживании и ремонте</li>
            <li>Повышенный расход топлива</li>
            <li>Низкий КПД</li>
            <li>Задержки в переключении передач</li>
            <li>Меньшая динамика автомобиля</li>
        </ul>
    </div>
    <h2 id="drive-choice">Выбор привода</h2>
    <div class="text-block">
        <p>
            Привод автомобиля определяет, на какие колеса передается тяга его двигателя.
            Все современные легковые авто имеют по четыре колеса – два передних и два задних, при этом мощность
            двигателя
            у автомобиля может передаваться либо на все четыре колеса, либо на одну пару колес – переднюю или заднюю.
        </p>
    </div>
    <h3>Передний привод</h3>
    <div class="image-box">
        <img src="~/img/p_privod.png" alt="Схема переднеприводного автомобиля"/>
    </div>
    <div class="text-block">
        <p>
            Передний привод – это когда тяга двигателя передается только на переднюю пару колес. Передние колеса,
            цепляются за дорогу и тянут за собой весь автомобиль, при этом задние колеса свободно катятся следом.
            Является динамически устойчивым. Ведущие колеса, находящиеся впереди, тянут задние колеса, а не толкают как
            на заднеприводном.
        </p>
        <p>
            При таком расположении ведущих колес, авто реже попадает в занос. И в зимнее время машина ведет себя
            устойчивее,
            чем задний привод. Более высокий КПД двигателя, меньшая потеря мощности при передаче. О
            беспечивает лучшую проходимость и более надежен в эксплуатации.
        </p>
    </div>
    <h3>Задний привод</h3>
    <div class="image-box">
        <img src="img/z_privod.png" alt="Схема заднеприводного автомобиля"/>
    </div>
    <div class="text-block">
        <p>
            Задний привод – это когда мощность двигателя передается только на задние колеса. Они вращаются, цепляются за
            грунт и как бы толкают автомобиль вперед.
        </p>
        <p>
            Данная схема расположения ведущих колес дает неустойчивость управления, при сильном нажатии на педаль газа
            или резком повороте.
            В зимнее время, уже при небольшом повороте ощущается снос задних колес, которое приводит к полному развороту
            машины. И это не безопасно.
        </p>
        <p>
            Но с точки зрения специалистов задний привод безопаснее тем, что при заносе водитель привык сбрасывать
            педаль газа, на заднем приводе это выравнивает машину,
            а на переднем это приведет к развороту машины. Но, так как современные автомобили уже оснащены системами
            стабилизации траектории, то боятся нечего.
        </p>
    </div>
    <h3>Полный привод</h3>
    <div class="text-block">
        <p>
            Полный привод – это когда крутящий момент от двигателя передается на обе оси автомобиля, то есть
            одновременно на все четыре колеса.
        </p>
        <p>
            При включенном приводе всех колес идет большая потеря мощности и большой износ деталей. Если вы используете
            автомобиль на дорогах с хорошим покрытием, то эта машина не для вас.
            В полном приводе передача крутящего момента идет на все колеса, что значительнее увеличивает проходимость
            авто.
            В плане заноса машина ведет себя устойчивее, чем передний и задний привод, но и для таких машин бывают
            сложные ситуации, которые не легко предотвратить.
        </p>
    </div>
    <h2 id="body-choice">Выбор кузова</h2>
    <div class="text-block">
        <p>
            Среди легковых машин сегодня существует просто огромное количество типов кузова. Чтобы перечислить их все,
            необходимо заводить отдельный блог,
            поэтому сегодня мы остановимся на самых распространенных типах кузова, которые сегодня можно встретить на
            наших дорогах.
        </p>
    </div>
    <h3>Купе</h3>
    <div class="image-box">
        <img src="~/img/2113.png" alt="ВАЗ 2113 Купе"/>
    </div>
    <div class="text-block">
        <p>
            Не самый распространенный тип автомобиля, поскольку он не отличается практичностью. В автомобиле-купе есть
            только две двери, и зачастую только два передних сидения.
            Многие производители добавляют в салон такого автомобиля еще два задних пассажирских кресла, однако они не
            всегда отличаются комфортом, поскольку
            ставка обычно делается на компактность. Отправляться в дальнее путешествие на заднем сидении такого
            автомобиля будет не совсем комфортно.
        </p>
        <p>
            Но вот что касается передней двери, то для водителя и пассажира на переднем сидении она является более
            удобной, поскольку она намного шире привычной двери.
            Тем не менее, посадка пассажиров на заднее сидение существенно утрудняется, поскольку для этого салон
            приходится покидать и водителю,
            и пассажиру с переднего сидения. Так что, кузов купе стоит выбирать только тем автолюбителям, которые
            привыкли путешествовать в одиночку и хотят получить
            красивый и компактный автомобиль.
        </p>
        <p>
            Многие производители отмечают «спортивный характер» таких автомобилей, как как благодаря жесткости кузова
            они получают хорошую устойчивость при осуществлении поворотов.
            Таким образом, единственный недостаток такого автомобиля – это отсутствие комфорта для пассажиров заднего
            сидения и сложность при их посадке.
        </p>
    </div>
    <h3>Универсал</h3>
    <div class="image-box">
        <img src="~/img/vaz_2102.jpg" alt="ВАЗ 2102 Универсал"/>
    </div>
    <div class="text-block">
        <p>
            Данный тип кузова принято считать наиболее практичным. Универсалы отличаются самыми лучшими характеристиками
            от всех остальных типов автомобилей: они практичны и комфортны с
            точки зрения посадки и высадки пассажиров, а также обладают огромной задней вертикальной дверью, то есть,
            очень вместительным багажником.
        </p>
        <p>
            Таким образом, для тех автолюбителей, которые очень часто перевозят багаж, универсал подойдет как нельзя
            лучше. В нем можно без проблем перевозить бытовую технику, отправляться на
            рыбалку или охоту, в очень длительные путешествия. Очень практичен такой автомобиль для большой семьи, когда
            в багажник необходимо забросить еще и коляску.
            В остальном же такой тип кузова принято считать большим «сараем», так как внешне он уж слишком большой.
        </p>
    </div>
    <h3>Седан</h3>
    <div class="image-box">
        <img src="~/img/octavia.png" alt="Skoda Octavia Седан"/>
    </div>
    <div class="text-block">
        <p>
            В первую очередь, такой тип кузова отличается удлиненной кормой, благодаря которой в нем удалось сделать
            достаточно вместительный багажник. Еще одним преимуществом данного типа
            кузова является то, что салон и багажник у него представляют два отдельных пространства, разделённых
            надежной перегородкой. Благодаря этому в седане можно без
            проблем перевозить даже плохо пахнущие грузы. Более того, такой тип кузова обеспечивает чистоту заднего
            стекла, на котором по этой же причине нет дворника.
        </p>
        <p>
            Однако ездить на таком автомобиле можно только по городским ровным дорогам, так как кузов расположен очень
            низко над дорожным покрытием. Проехать глубокую яму или
            войти в колею на седане будет практически невозможно. Еще одним недостатком седанов принято считать их
            большие габариты (которые, с другой стороны, делают поездку
            в салоне такого автомобиля достаточно комфортной). В большом городе маневрировать на седане не так уж и
            просто, но еще сложнее припарковаться.
        </p>
        <p>
            Таким образом, седан – отличный тип кузова автомобиля, но только для городского жителя, который редко
            выезжает на проселочные дороги.
            В остальном же, стоит сильно задуматься, покупать такое авто или нет.
        </p>
    </div>
    <h3>Хэтчбек</h3>
    <div class="image-box">
        <img src="~/img/focus.jpg" alt="Ford Focus Хэтчбек"/>
    </div>
    <div class="text-block">
        <p>
            Такой тип кузова выигрывает у седана характеристиками своих габаритов. Обычно хэтчбеки – это достаточно
            компактные автомобили, к
            оторыми очень удобно управлять даже в условиях большой загруженности дороги. Нередко хэтчбек привлекает
            внимание девушек и молодых мам,
            которых сильно подкупает внешний достаточно спортивный дизайн. К тому же, этот тип автомобилей не относится
            к представительскому классу, поэтому и стоит в разы дешевле.
        </p>
        <p>
            Хэтчбек обладает очень высоким клиренсом, благодаря чему такое авто можно без опаски выводить на проселочные
            дороги.
            К тому же, данный тип кузова принято оснащать более жесткой подвеской, которая придется как нельзя кстати
            при выезде за пределы городской черты.
        </p>
        <p>
            Но есть у хэтчбека и недостатки. Первый из них – это менее вместительных багажник, нежели у седана. Более
            того, багажник не отделяется от салона перегородкой, и при подъеме его крышки поднимается и
            заднее стекло автомобиля. По этой причине хэтчбек принято считать менее комфортным для езды, а тем более для
            перевозки багажей.
        </p>
    </div>
        <button onclick="openNav()" id="sideBtn">Навигация</button>
        <button onclick="toTop()" id="upBtn">Вверх</button>
    </div>

</main>