@{
    ViewData["Title"] = "Условия покупки";
}

<main class="centrified-main">
    <p class="info">Общие условия покупки</p>
    <div class="text-block">
        <p>
            Для приобретения автомобиля в нашем автосалоне вам необходимо выбрать
            желаемый автомобиль в каталоге, нажать на кнопку "Подробнее", затем на странице
            информации об автомобиле необходимо будет нажать "Приобрести", после чего перейти на страницу
            "Оформление заказа". На этой странице у вас будет возможность выбрать офис продаж, из которого
            вам будет удобно забрать вашу покупку.
        </p>
    </div>


    <p class="info">Условия кредитования</p>
    <table class="terms-table">
        <thead>
        <tr>
            <th>Срок кредитования \ Сумма покупки</th>
            <th>до 1 000 000</th>
            <th>от 1 000 000 до 2 500 000</th>
            <th>от 2 500 000</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1 год</th>
            <td>10% годовых</td>
            <td>9.6% годовых</td>
            <td>9.4% годовых</td>
        </tr>
        <tr>
            <th>2 года</th>
            <td>9.1% годовых</td>
            <td>8.8% годовых</td>
            <td>8.4% годовых</td>
        </tr>
        <tr>
            <th>3 года</th>
            <td>8% годовых</td>
            <td>7.5% годовых</td>
            <td>6.9% годовых</td>
        </tr>

        </tbody>
    </table>
    <p class="info">Условия гарантии</p>
    <div class="text-block">
        <p>
            На все автомобили, приобретенные в нашем автосалоне, распространяется
            гарантия на 5 лет с момента приобретения. При приобретении нового автомобиля
            часть гарантийного срока покрывается производителем автомобиля.
        </p>
        <p>
            Для оформления гарантийного случая необходимо иметь с собой следующий набор документов:
        </p>
    </div>
    <div class="docs">
        <ul>
            <li>Договор купли-продажи</li>
            <li>Гарантийный талон</li>
            <li>Паспорт</li>
            <li>СТС</li>
            <li>ПТС</li>
        </ul>
    </div>

</main>